
.docentes-page {
    padding: 5vh;
    margin-top: -3vh;
    align-items: center;
    display: flex;
    justify-content: center; 
    height: 100vh; 
}

.Grupo-d{
    position: relative;
    left: 3vh;
    padding: 1vh;
    border: 2px solid black;
    width: 15vh;
    height: 5vh;
    text-align: center;
    font-size: large;
}

.nove-dose{
    padding: 2vh;
    position: relative;
    display: flex;
}

.docentes-section {
    padding: 1vh;
    border: 2px solid black;
    margin: auto; 
    border-radius: 5px;
    overflow: scroll;

}


.docentes-section h2{
    position: relative;
    right: -50vh;
    border: 2px solid black;
    max-width: 15%;
    text-align: center;
    margin-bottom: 0.5vh; 
    font-size: large;
    
}

.docentes-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5vh;
    max-height: 52vh;
    max-width: 100vh;
}

.docente-card {
    flex:  45%;
    padding: 0.5vh;
    border: 2px solid black;
    margin-bottom: 0.5vh;
    box-sizing: border-box;
    margin-left: 0.5vh;
    font-size: 2vh;
    max-height: 18vh;
    border-radius: 5px;
    display: flex;

}
.docente-card h1{
    text-align: center;
    font-size: x-large;
    padding: 0.5vh;
}
.docente-card p{
    margin-bottom: 0.5vh;
}

.info-dous{
    max-width: 80%;
    margin-left: 1.5vh;
    max-width: 30vh;
}


.FotoDocente{
    width: 13vh;
    height: 13vh;
    border: 2px solid black;
}
.create-docente-button{
    max-width: 80%;
    position: relative;
    left: 25vh;
    bottom: 3vh;
}


@media screen and (max-width:940px){
    .docentes-page{
        display: inline;
        padding: auto;
    }

    .nove-dose{
        margin-top: 15vh;
        flex-direction: column;
    }

    .Grupo-d{
        margin-top: 1vh;
        position: relative;
        left: 0vh;
        width: 35%;
    }

    .docentes-section{
        padding: 1.5vh;
        border: 2px solid black;
        margin: auto; 
        border-radius: 5px;
        overflow: scroll;
        width: 90%;
    }

    .docentes-section h2{
        text-align: center;
        position: relative;
        left: 18vh;
        max-width: 25%;
        border-radius: 5px;
    }

    .docente-card {
        flex:  90%; 
        padding: 0.5vh;
        border: 2px solid black;
        margin-bottom: 0.5vh;
        box-sizing: border-box;
        margin-left: 0.5vh;
        font-size: 2vh;
        max-height: 19vh;
        max-width: 100%;
        border-radius: 5px;
        overflow: scroll;
        display: flex;
    }

    .info-dous{
        max-width: 100%; 

    }

    .info-dous p{
        max-width: 100%; 
    }

    .create-docente-button{
        max-width: 80%;
        position: relative;
        left: 10vh;
        top: 2vh;
        margin-bottom: 3.5vh;
    }


}


