body{
    background-color: rgb(229, 219, 219);   
}

.Logo-i{
    width: 610px;
    height: 120px;
    margin-top: 125px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.Fondo-i{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 30%;
    right: 30%;
    height: 50vh;
    width: 50vh;
    opacity: 0.2;
}

.Contenedor-i{
    margin-top: 15px;
    display: flex;
    margin-left: 10px;
    flex-direction: row; /* Alinea los elementos lateralmente (de izquierda a derecha) */
    gap: 10px; /* Espacio entre los elementos, opcional */
    float: left;
    padding: 10px;
    font-size: 1.9vh;

}

.Novedades{
    width: 250px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.Informacion-g{
    margin-left: 10px;
}

.Informacion-g p{
    margin-top: 10px;
}

.Perfil{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

.ContenedorMasInfo{
    display: flex;
    align-items: center;
}

.info-button{
   background-color: transparent;
   height: 32px;
   width: 32px;
   cursor: pointer;
   transition: all .5s ease;


}
.info-button:hover{
    background-color: azure;
}

.svg-info{
    color: black;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: -10px;
    right: 10px;
}
.svg-info:hover{
    color: crimson;
}

.MasInfo{
    display: none;
    margin-top: 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    
}
.MasInfo.isActive{
    display: flex;
    overflow: hidden;
    opacity: 1;
    height: 80vh;
}

.MasInfo-li{
    color: black;
    font-size: 1.9vh;

}

.MasInfo-li-ev{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.9vh;
}

.MasinfoC{
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    cursor: pointer;
}

.MasinfoC.isActive{
    display: flex;
    flex-flow: column nowrap;

    overflow: hidden;
    opacity: 1;
    height: 5vh;
}

.MasinfoP{
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}
.MasinfoP.isActive{
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    opacity: 1;
    height: 5vh;
}

.MasinfoM{
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}
.MasinfoM.isActive{
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    opacity: 1;
    height: 5vh;
}

.MasinfoA{
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}
.MasinfoA.isActive{
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    opacity: 1;
    height: 40vh;
}

@media screen and (max-width:940px){
    .Fondo-i{
        width: 25vh;
        height: 25vh;
        position: fixed;
        top: 40%;
        right: 30%;
    }

    .Logo-i{
        width: 90%;
        height: 60%;   
        border-radius: 5px;
    }

    .Contenedor-i{
        flex-direction: column;
    }

    .Novedades{
        width: 90%;
        height: 9vh;   
        border-radius: 5px;
    }
  
    .Perfil{
        width: 30%;
        height: 30%;
        border: 2px solid black;
        border-radius: 5px;
    }

    .Informacion-g{
        margin-left: 1px;
    }

}